@mixin ft($fs, $color, $fw, $lh) {
	font-size: $fs;
	color: $color;
	font-style: normal;
	font-weight: $fw;
	line-height: $lh;
}

@mixin flex($jc, $ai) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}