@import "vars";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Lobster;
  src:url("~/assets/fonts/Lobster-Regular.ttf");
}

ul, li {
  list-style: none;
}

.max-w{
  max-width: 1024px;
  margin: 0 auto;
}


// 全局重置一些 Element CSS
.el-dialog {
  --el-border-radius-small: 0.625em;
}

.el-message{
  // z-index: 99999 !important;
}

.md-editor {
  z-index: 200 !important;
}

// 一些工具样式
.d-flex{
  display: flex;
}

.cp{
  cursor: pointer;
}